@font-face {
  font-family: 'iconfont';  /* project id 207580 */
  src: url('//at.alicdn.com/t/font_207580_fe4llls2rud.eot');
  src: url('//at.alicdn.com/t/font_207580_fe4llls2rud.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_207580_fe4llls2rud.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_207580_fe4llls2rud.woff') format('woff'),
  url('//at.alicdn.com/t/font_207580_fe4llls2rud.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_207580_fe4llls2rud.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-step-forward:before {
  content: "\ee31";
}

.icon-step-backward:before {
  content: "\ee32";
}

.icon-forward:before {
  content: "\ee33";
}

.icon-banckward:before {
  content: "\ee34";
}

.icon-caretright:before {
  content: "\ee35";
}

.icon-caretleft:before {
  content: "\ee36";
}

.icon-caretdown:before {
  content: "\ee37";
}

.icon-caretup:before {
  content: "\ee38";
}

.icon-right-circle:before {
  content: "\ee39";
}

.icon-left-circle:before {
  content: "\ee3a";
}

.icon-up-circle:before {
  content: "\ee3b";
}

.icon-down-circle:before {
  content: "\ee3c";
}

.icon-right-circle-o:before {
  content: "\ee3d";
}

.icon-left-circle-o:before {
  content: "\ee3e";
}

.icon-up-circle-o:before {
  content: "\ee3f";
}

.icon-down-circle-o:before {
  content: "\ee40";
}

.icon-verticleleft:before {
  content: "\ee41";
}

.icon-verticleright:before {
  content: "\ee42";
}

.icon-rollback:before {
  content: "\ee43";
}

.icon-retweet:before {
  content: "\ee44";
}

.icon-shrink:before {
  content: "\ee45";
}

.icon-arrowsalt:before {
  content: "\ee46";
}

.icon-reload:before {
  content: "\ee47";
}

.icon-doubleright:before {
  content: "\ee48";
}

.icon-doubleleft:before {
  content: "\ee49";
}

.icon-arrowdown:before {
  content: "\ee4a";
}

.icon-arrowup:before {
  content: "\ee4b";
}

.icon-arrow-right:before {
  content: "\ee4c";
}

.icon-arrow-left:before {
  content: "\ee4d";
}

.icon-down:before {
  content: "\ee4e";
}

.icon-up:before {
  content: "\ee4f";
}

.icon-right:before {
  content: "\ee50";
}

.icon-left:before {
  content: "\ee51";
}

.icon-minussquareo:before {
  content: "\ee52";
}

.icon-minuscircle:before {
  content: "\ee53";
}

.icon-minuscircleo:before {
  content: "\ee54";
}

.icon-minus:before {
  content: "\ee55";
}

.icon-pluscircleo:before {
  content: "\ee56";
}

.icon-pluscircle:before {
  content: "\ee57";
}

.icon-plus:before {
  content: "\ee58";
}

.icon-infocirlce:before {
  content: "\ee59";
}

.icon-infocirlceo:before {
  content: "\ee5a";
}

.icon-info:before {
  content: "\ee5b";
}

.icon-exclamation:before {
  content: "\ee5c";
}

.icon-exclamationcircle:before {
  content: "\ee5d";
}

.icon-exclamationcircleo:before {
  content: "\ee5e";
}

.icon-closecircle:before {
  content: "\ee5f";
}

.icon-close-circle-o:before {
  content: "\ee60";
}

.icon-check-circle:before {
  content: "\ee61";
}

.icon-check-circle-o:before {
  content: "\ee62";
}

.icon-check:before {
  content: "\ee63";
}

.icon-close:before {
  content: "\ee64";
}

.icon-customerservice:before {
  content: "\ee65";
}

.icon-creditcard:before {
  content: "\ee66";
}

.icon-code-square-o:before {
  content: "\ee67";
}

.icon-book:before {
  content: "\ee68";
}

.icon-barschart:before {
  content: "\ee69";
}

.icon-bars:before {
  content: "\ee6a";
}

.icon-question:before {
  content: "\ee6b";
}

.icon-questioncircle:before {
  content: "\ee6c";
}

.icon-questioncircleo:before {
  content: "\ee6d";
}

.icon-pause:before {
  content: "\ee6e";
}

.icon-pausecircle:before {
  content: "\ee6f";
}

.icon-pausecircleo:before {
  content: "\ee70";
}

.icon-clock-circle:before {
  content: "\ee71";
}

.icon-clock-circle-o:before {
  content: "\ee72";
}

.icon-swap:before {
  content: "\ee73";
}

.icon-swapleft:before {
  content: "\ee74";
}

.icon-swapright:before {
  content: "\ee75";
}

.icon-plussquareo:before {
  content: "\ee76";
}

.icon-frown:before {
  content: "\ee77";
}

.icon-ellipsis:before {
  content: "\ee78";
}

.icon-copy:before {
  content: "\ee79";
}

.icon-customerservice1:before {
  content: "\ee7a";
}

.icon-creditcard1:before {
  content: "\ee7b";
}

.icon-codesquareo1:before {
  content: "\ee7c";
}

.icon-book1:before {
  content: "\ee7d";
}

.icon-barschart1:before {
  content: "\ee7e";
}

.icon-bars1:before {
  content: "\ee7f";
}

.icon-question1:before {
  content: "\ee80";
}

.icon-questioncircle1:before {
  content: "\ee81";
}

.icon-questioncircleo1:before {
  content: "\ee82";
}

.icon-pause1:before {
  content: "\ee83";
}

.icon-pausecircle1:before {
  content: "\ee84";
}

.icon-pausecircleo1:before {
  content: "\ee85";
}

.icon-clockcircle1:before {
  content: "\ee86";
}

.icon-clockcircleo1:before {
  content: "\ee87";
}

.icon-swap1:before {
  content: "\ee88";
}

.icon-menufold:before {
  content: "\ee89";
}

.icon-mail:before {
  content: "\ee8a";
}

.icon-logout:before {
  content: "\ee8b";
}

.icon-link:before {
  content: "\ee8c";
}

.icon-areachart:before {
  content: "\ee8d";
}

.icon-linechart:before {
  content: "\ee8e";
}

.icon-home:before {
  content: "\ee8f";
}

.icon-laptop:before {
  content: "\ee90";
}

.icon-star:before {
  content: "\ee91";
}

.icon-staro:before {
  content: "\ee92";
}

.icon-folder:before {
  content: "\ee95";
}

.icon-filter:before {
  content: "\ee96";
}

.icon-file:before {
  content: "\ee97";
}

.icon-exception:before {
  content: "\ee98";
}

.icon-meho:before {
  content: "\ee99";
}

.icon-meh:before {
  content: "\ee9a";
}

.icon-shoppingcart:before {
  content: "\ee9b";
}

.icon-save:before {
  content: "\ee9c";
}

.icon-user:before {
  content: "\ee9d";
}

.icon-videocamera:before {
  content: "\ee9e";
}

.icon-totop:before {
  content: "\ee9f";
}

.icon-team:before {
  content: "\eea0";
}

.icon-tablet:before {
  content: "\eea1";
}

.icon-solution:before {
  content: "\eea2";
}

.icon-search:before {
  content: "\eea3";
}

.icon-sharealt:before {
  content: "\eea4";
}

.icon-setting:before {
  content: "\eea5";
}

.icon-poweroff:before {
  content: "\eea6";
}

.icon-picture:before {
  content: "\eea7";
}

.icon-phone:before {
  content: "\eea8";
}

.icon-paperclip:before {
  content: "\eea9";
}

.icon-notification:before {
  content: "\eeaa";
}

.icon-mobile:before {
  content: "\eeab";
}

.icon-menuunfold:before {
  content: "\eeac";
}

.icon-inbox:before {
  content: "\eead";
}

.icon-qrcode:before {
  content: "\eeaf";
}

.icon-tags:before {
  content: "\eeb1";
}

.icon-tagso:before {
  content: "\eeb2";
}

.icon-cloudo:before {
  content: "\eeb3";
}

.icon-cloud:before {
  content: "\eeb4";
}

.icon-cloud-upload:before {
  content: "\eeb5";
}

.icon-cloud-download:before {
  content: "\eeb6";
}

.icon-cloud-download-o:before {
  content: "\eeb7";
}

.icon-cloud-upload-o:before {
  content: "\eeb8";
}

.icon-enviroment:before {
  content: "\eeb9";
}

.icon-enviromento:before {
  content: "\eeba";
}

.icon-eye:before {
  content: "\eebb";
}

.icon-eye-o:before {
  content: "\eebc";
}

.icon-camera:before {
  content: "\eebd";
}

.icon-camerao:before {
  content: "\eebe";
}

.icon-windows:before {
  content: "\eebf";
}

.icon-apple:before {
  content: "\eec0";
}

.icon-android:before {
  content: "\eec1";
}

.icon-aliwangwang:before {
  content: "\eec2";
}

.icon-aliwangwang-o:before {
  content: "\eec3";
}

.icon-export2:before {
  content: "\eec4";
}

.icon-export:before {
  content: "\eec5";
}

.icon-edit:before {
  content: "\eec6";
}

.icon-circledowno:before {
  content: "\eec7";
}

.icon-circledown:before {
  content: "\eec8";
}

.icon-appstore-o:before {
  content: "\eec9";
}

.icon-appstore:before {
  content: "\eeca";
}

.icon-scan:before {
  content: "\eecc";
}

.icon-filetext:before {
  content: "\eecd";
}

.icon-folderopen:before {
  content: "\eece";
}

.icon-hdd:before {
  content: "\eecf";
}

.icon-ie:before {
  content: "\eed0";
}

.icon-jpgfile:before {
  content: "\eed1";
}

.icon-like:before {
  content: "\eed2";
}

.icon-dislike:before {
  content: "\eed3";
}

.icon-delete:before {
  content: "\eed4";
}

.icon-enter:before {
  content: "\eed5";
}

.icon-pushpin-o:before {
  content: "\eed6";
}

.icon-pushpin:before {
  content: "\eed7";
}

.icon-heart:before {
  content: "\eed8";
}

.icon-hearto:before {
  content: "\eed9";
}

.icon-smile:before {
  content: "\eedc";
}

.icon-smileo:before {
  content: "\eedd";
}

.icon-frowno:before {
  content: "\eede";
}

.icon-calculator:before {
  content: "\eedf";
}

.icon-message:before {
  content: "\eee0";
}

.icon-chrome:before {
  content: "\eee1";
}

.icon-github:before {
  content: "\eee2";
}

.icon-loading:before {
  content: "\eee3";
}

.icon-unknowfile:before {
  content: "\eee4";
}

.icon-exclefile:before {
  content: "\eee5";
}

.icon-pptfile:before {
  content: "\eee6";
}

.icon-wordfile:before {
  content: "\eee7";
}

.icon-pdffile:before {
  content: "\eee8";
}

.icon-desktop:before {
  content: "\eeea";
}

.icon-upload:before {
  content: "\eeec";
}

.icon-download:before {
  content: "\eeed";
}

.icon-piechart:before {
  content: "\eeee";
}

.icon-lock:before {
  content: "\eeef";
}

.icon-unlock:before {
  content: "\eef0";
}

.icon-calendar:before {
  content: "\eef1";
}

.icon-windows-o:before {
  content: "\eef2";
}

.icon-dotchart:before {
  content: "\eef3";
}

.icon-barchart:before {
  content: "\eef4";
}

.icon-code-square:before {
  content: "\eef5";
}

.icon-plus-square:before {
  content: "\eef6";
}

.icon-minus-square:before {
  content: "\eef7";
}

.icon-close-square:before {
  content: "\eef8";
}

.icon-close-square-o:before {
  content: "\eef9";
}

.icon-check-square:before {
  content: "\eefa";
}

.icon-check-square-o:before {
  content: "\eefb";
}

.icon-fast-backward:before {
  content: "\eefc";
}

.icon-fast-forward:before {
  content: "\eefd";
}

.icon-up-square:before {
  content: "\eefe";
}

.icon-down-square:before {
  content: "\eeff";
}

.icon-left-square:before {
  content: "\ef00";
}

.icon-right-square:before {
  content: "\ef01";
}

.icon-right-square-o:before {
  content: "\ef02";
}

.icon-left-square-o:before {
  content: "\ef03";
}

.icon-down-square-o:before {
  content: "\ef04";
}

.icon-up-square-o:before {
  content: "\ef05";
}

.icon-play:before {
  content: "\ef06";
}

.icon-play-circle-o:before {
  content: "\ef07";
}

.icon-tag:before {
  content: "\ef08";
}

.icon-tag-o:before {
  content: "\ef09";
}

.icon-apple-o:before {
  content: "\ef0a";
}

.icon-pay-circle:before {
  content: "\ef0f";
}

.icon-pay-circle-o:before {
  content: "\ef10";
}
